<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
	<camera speed = "1" time = "500"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
	  <speed x = "1" y = "1"/>
		  <idle_anim
		  x1 = "14" y1 = "7" w1 = "19" h1 = "29"
		  x2 = "66" y2 = "6" w2 = "17" h2 = "30"
		  x3 = "115" y3 = "6" w3 = "19" h3 = "30"
		  x4 = "163" y4 = "7" w4 = "20" h4 = "29"
		  />
		  <run_anim
		  x1 = "67" y1 = "45" w1 = "20" h1 = "28"
		  x2 = "116" y2 = "46" w2 = "20" h2 = "27"
		  x3 = "166" y3 = "48" w3 = "20" h3 = "25"
		  x4 = "217" y4 = "45" w4 = "23" h4 = "28"
		  x5 = "266" y5 = "46" w5 = "20" h5 = "27"
		  x6 = "316" y6 = "48" w6 = "20" h6 = "25"
		  />
		  <jump_anim
		  x1 = "117" y1 = "81" w1 = "19" h1 = "27"
		  x2 = "164" y2 = "79" w2 = "21" h2 = "23"
		  />
		  <fall_anim
		  x1 = "68" y1 = "112" w1 = "17" h1 = "31"
		  x2 = "118" y2 = "113" w2 = "17" h2 = "30"
		  />
	  
  </player>
</config>