<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
	<camera speed = "1" time = "500"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <music>
    <folder>audio/Music/</folder>
  </music>

  <fx>
    <folder>audio/Effects/</folder>
  </fx>

  <player>
	  <speed x = "1" y = "1"/>
  </player>
</config>